@model List<CustomSearch.Models.Result>
    <br />
@{
    Html.RenderPartial("Index");
}
<ul>
    @foreach(var item in Model)
    {
        <li style="width:500px">
            <a href="@item.Link" style="color:blue">@item.Title</a> <br />
            <span style="font-size:15px;color:green">@item.Link</span><br />
            <span style="color:gray">@item.Snippet</span>
        </li>
    }
</ul>

