
    <form class="form-inline" action="@Url.Action("Index")" method="post">

        UserName: <input style="width:100%;margin-left:auto;margin-right:auto;border:groove;height:40px;" class="form-control" id="inputdefault" autofocus="autofocus" type="text" name="username" required />
        <br /> 
        Password: <input style="width:100%;margin-left:auto;margin-right:auto;border:groove;height:40px;" class="form-control" id="inputdefault" autofocus="autofocus" type="password" name="password" required />

        <br />
        <button type="submit" style="height:40px" class="btn btn-success">SignIn</button><br /> <br />
    </form>